ZhangdyTest/bookstore.dtd

  <!ELEMENT bookstore (book+)>
  <!ELEMENT book      (title,author+,year,price)>
  <!ELEMENT title      (#PCDATA)>
  <!ELEMENT author    (#PCDATA)>
  <!ELEMENT year	 (#PCDATA)>
  <!ELEMENT price    (#PCDATA)>
  
  <!ATTLIST book category CDATA #IMPLIED>
  <!ATTLIST title lang CDATA #IMPLIED>
  
  <!ENTITY writer "Bill Gates">